<% if @milestones.active.present? %>
  <div class="grouping">
    <h3>Active</h3>

    <div class="milestones">
      <% @milestones.active.each do |milestone| %>
        <div class="milestone" data-object-id="<%= milestone._id %>" data-entity-type="milestone">
          <div class="content">
            <div class="title"><%= link_to milestone.title, "/milestones/#{milestone.title}" %></div>
            <div class="repo-list">
              <% milestone.repos.each do |repo| %>
                <a href=""><%= repo %></a>
              <% end %>
              <div style="clear: both;"></div>
            </div>
          </div>
          <div class="actions">
            <span class="primary-actions">
              <i class="action material-icons waves-effect waves-red" data-status="inactive">pause</i>
              <i class="action material-icons waves-effect waves-green" data-status="closed">stop</i>
            </span>
          </div>
          <div style="clear: both;"></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


<% if @milestones.inactive.present? %>
  <div class="grouping">
    <h3>Backlog</h3>

    <div class="milestones">
      <% @milestones.inactive.each do |milestone| %>
        <div class="milestone" data-object-id="<%= milestone._id %>" data-entity-type="milestone">
          <div class="content">
            <div class="title"><%= link_to milestone.title, "/milestones/#{milestone.title}" %></div>
            <div class="repo-list">
              <% milestone.repos.each do |repo| %>
                <div class="repo"><a href="https://github.com/<%= ENV['DEFAULT_GITHUB_ORG'] %>/<%= repo %>/milestones" target="_blank"><%= repo %></a></div>
              <% end %>
              <div style="clear: both;"></div>
            </div>
          </div>
          <div class="actions">
            <span class="primary-actions">
              <i class="action material-icons waves-effect waves-green" data-status="active">play_arrow</i>
            </span>
          </div>
          <div style="clear: both;"></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>