
<!--

<h2>Completed</h2>

3 issues
57 commits
X deploys
-->

<div class="grouping">
  <h3>In Progress</h3>
  <div id="in-progress-issues" class="issues"></div>
</div>

<div class="grouping">
  <h3>Priority</h3>
  <div id="priority-issues" class="issues"></div>
</div>

<div class="grouping">
  <h3>TODO <a class="add-issue-trigger" href="#">+</a></h3>
  <div id="todo-list" class="issues"></div>
</div>


<script>
 window.issuesCollection       = new IssuesCollection(<%= @issues.map(&:to_broadcast_h).to_json.html_safe %>);
 issuesCollection.masterFilter = function(issue) { console.log(issue.state, issue.milestone); return issue.state == 'open' && issue.milestone == <%= params[:title].to_json.html_safe %>; }

 issuesCollection.registerRenderer({
  filter: function(issue) { return issue.in_progress == true },
  target_el: '#in-progress-issues',
  template_name: 'issue',
  template_opts: {
    actions: ['pause','complete','avatar-reassign']
  }
 });

 issuesCollection.registerRenderer({
  filter: function(issue) { return issue.in_progress == false && issue.priority == true },
  target_el: '#priority-issues',
  template_name: 'issue',
  template_opts: {
    actions: ['start','avatar-reassign']
  }
 });

 issuesCollection.registerRenderer({
  filter: function(issue) { return issue.in_progress == false && issue.priority == false },
  target_el: '#todo-list',
  template_name: 'issue',
  template_opts: {
    actions: ['start','avatar-reassign']
  }
 });


 issuesCollection.triggerUpdate();

$(document).on('click', '.add-issue-trigger', function() {
  $('#add-issue-modal').openModal({ starting_top: '1%' });
  $('#add-issue-modal input').focus();
});

  $('.modal-trigger').leanModal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: .5, // Opacity of modal background
      in_duration: 300, // Transition in duration
      out_duration: 200, // Transition out duration
      ready: function() { alert('Ready'); }, // Callback for Modal open
      complete: function() { alert('Closed'); }, // Callback for Modal close
      starting_top: '1%'
    }
  );
      



</script>




<div id="add-issue-modal" class="modal">
  <div class="modal-content">
    <div class="row">
  
      <form class="col s12">
        <div class="row">
          <h5 class="col s12">New Issue - <%= params[:title] %></h5>
        </div>
        
        <div class="row">
          <div class="input-field col s12">
            <input name="title" type="text">
            <label for="title">Title</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="description" class="materialize-textarea"></textarea>
            <label for="description">Description</label>
          </div>
        </div>


        <div class="row">
          <div class="col s12 item-select">
            <input name="repo" type="hidden" />
            <span class="title">Repo</span>
            <% @milestone.repos.each do |repo_name| %>
              <label for="repo" ><%= repo_name %></label>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col s12 item-select">
            <input name="assignee" type="hidden" />
            <span class="title">Assigned To</span>
            <% @milestone.contributors.each do |contributor| %>
              <label for="assignee"><%= contributor %></label>
            <% end %>
          </div>
        </div>

          <div class="col s1 offset-s10">
            <a class="waves-effect waves-default btn">Add</a>
          </div>

      </form>
    </div>


  </div>
</div>
