<div class="issue" data-object-id="<%= _id %>" data-entity-type="issue">
  <div class="content">
    <div class="repo"><%= repo_name %></div>
    <div class="title"><a href="<%= url %>" target="_blank"><%= title %></a></div>
  </div>
  <div class="actions">
    <span class="secondary-actions">
      <% if(_.contains(opts.actions, 'reassign')) { %><i class="material-icons waves-effect tooltipped" data-position="top" data-delay="10" data-tooltip="Reassign">people</i><% } %>
      <i class="material-icons waves-effect waves-pink tooltipped action <% if(priority) { %>is-priority <% } %>" data-status="<% if(priority) { %>normal_priority<% } else { %>priority<% } %>" data-position="top" data-delay="10" data-tooltip="Priority">error</i>
    </span>          
    <span class="primary-actions">
      <% if(_.contains(opts.actions, 'pause')) { %><i class="material-icons waves-effect waves-red action" data-status="inactive">pause</i><% } %>
      <% if(_.contains(opts.actions, 'complete')) { %><i class="material-icons waves-effect waves-green action" data-status="closed">done</i><% } %>
      <% if(_.contains(opts.actions, 'start')) { %><i class="material-icons waves-effect waves-green action" data-status="active">play_arrow</i><% } %>
      <% if(_.contains(opts.actions, 'avatar-reassign')) { %>
        <div class="avatar contributor-<%= assignee %> reassign-modal-trigger"></div>
      <% } %>

    </span>
  </div>
  <div style="clear: both;"></div>
</div>
<% if(opts.showCommits) { %>
  <div class="commits">
  <% _.each(commits, function(commit, idx) { %>
    <div class="commit <% if(idx > 4) { %>hidden<% } %>">
      <div class="author"><div class="avatar contributor-<%= commit.author %>" style="display: inline-block; height: 15px; "></div><%= commit.author %></div>
      <div class="title"><a href="<%= commit.url %>" target="_blank"><%= commit.message %></a></div>
    </div>
    <% if(idx == 4 && commits.length > 5) { %>
      <div class="show-more"><button><%= commits.length -1 %> More </button></div>
    <% } %>
  <% }) %>
  </div>
<% } %>